*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../img/night.jpg);
    background-attachment: fixed;
    background-size: cover;
}


nav
{
    height: 80px;
    width: 100%;
}

label.logo
{
    color: #ffffff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul
{
    float : right;
    margin-right: 20px;
}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a 
{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}


.container
{
    width: 400px;
    height: 200px;
    margin: 100px auto;
    background: black;
    position: center;
    border-radius: 15px;
}


.container h1
{
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
}

.container p
{
    color: white;
    font-family: 'Times New Roman';
    text-align: center;
}

a.active, a:hover {
    background: black;
    transition: .5s;
}

.package
{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

    .package input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

.package label
{
    color: black;
}

.package h3, h4
{
    color: black;
    font-size: 25px;
}

body h3 
{
    font-size: 35px;
    color: white;
}

.butt input[type=button] {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 50%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin: 14px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.butt input[type=button]:hover
{
    background-color: #4CAF50;
    color: white;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 75px;
    background-color: #00a087;
}
